@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Consume API</h1>
    <p>Free fake API: <a href="https://jsonplaceholder.typicode.com/">Click here</a>.</p>
</div>
